.subscribe-button {
    background-color: #c00;
    color: white;
    border: none;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.6;
}

.join-button {
    background-color: white;
    color: rgb(41, 118, 211);
    padding-inline: 10px;
    padding-block: 9px;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(41, 118, 211);
    cursor: pointer;
    font-weight: bold;
    margin-right: 8px;
    transition: opacity 0.15s, color 0.15s, background-color 0.15s;
    vertical-align: top;
}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(38, 134, 229);
    color: rgb(255, 255, 255);
    height: 35px;
    width: 74px;
    border-radius: 18px;
    border-width: 2px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: box-shadow 0.15s, opacity 0.15s;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}