p {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    line-height: 20px;
    margin-bottom: 5px;
}

.video-stats {
    font-size: 14px;
    color: rgb(105, 105, 105);
    margin-top: 5px;
}

.video-author {
    font-size: 14px;
    color: rgb(105, 105, 105);
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-description {
    font-size: 14px;
    color: rgb(105, 105, 105);
    width: 220px;
    line-height: 19px;
    margin-bottom: 100px;
}

.alert-footer {
    margin-bottom: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgb(212, 86, 86);
    color: white;
    text-align: center;
    padding-inline: 10px;
    padding-block: 15px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}